.header {
  background: #fff;
  margin: 16px 16px 0px;
  border-radius: 8px;
  padding: 0;
}
.header-menu {
  padding: 0 24px;
  align-items: center;
}
.logo {
  margin: 24px;
  border-bottom: 1px solid #ededed;
}
@media (min-width: 992px) {
  .menu {
    display: none;
  }
}
